# Arquivo de segredos - NUNCA ENVIAR PARA O GITHUB
.env

# Diretórios de cache e dependências do Python
__pycache__/
venv/
env/
*.pyc

# Artefatos de build do modelo de IA
# Recomendado ignorar, pois é gerado pelo train_model.py e pode ser grande
nlp_model/

# Arquivos de configuração de IDEs
.vscode/
.idea/